<div class="container">
    <form class="form">
        Name     
        <input type="number" name="minutes" placeholder="10" min="0" required appValidateInput>
        
        Cost
        <input type="number" name="miles" placeholder="2" min="0" required appValidateInput>

        <input type="submit" value="Add item" class="btn">
        
    </form>
    
    <br>
    <button type="button" name="show"  (click)="getItems()" class="btn"> List items</button> 

    
    <div class="content">
        <div *ngIf="items" class="table-center">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let item of items'>
                <td>{{item?.id}}</td>
                <td>{{item?.name}}</td>
                <td>{{item?.cost}}</td>
            </tr>
            </tbody>
        </table>
        </div>         
    </div>    
</div>  