<div class="container">
    <div class='heading'>
        <h1><span class="first_half">Medi</span><span class="second_half">keeper
            </span>   
        </h1>
    </div>
<br>
    <app-item-detail [formData]="item" (addItemChild)="addItem($event)"> </app-item-detail>
<br>
    <div class="content">
        <div *ngIf="!items" class="no_items">
            Please wait until server ready.
        </div>
        <div *ngIf="items" class="table-center">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let item of items'>
                <td (click)="populateForm(item)">{{item?.id}}</td>
                <td (click)="populateForm(item)">{{item?.name}}</td>
                <td (click)="populateForm(item)">{{item?.cost}}</td>
                <td>
                    <button class="delete" (click)="onDelete(item.id)">&nbsp;X&nbsp;</button>
                </td>                
            </tr>
            </tbody>
        </table>
        </div>         
    </div>    
</div>  